.promo-wrap {
//	background-image: url(../images/content/promo/promo-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	clip-path: polygon(0% 0%, 100% 0, 100% 93%, 70% 100%, 0 93%);
position: relative;
	background-color: #000;
	
}


