section.about#about
	.container.container--about
		.about__col.about__col--left
			.about__img-wrap
				+image('about/ava.JPG', 'about__img')
			.about__anket
				- var anketDatas = [{key : 'Проживаю:', val: 'Cанкт-Петербург'}, {key : 'Возраст:', val: '33 года'}, {key : 'Родилась', val: '18 мая 1986'}]
				each anketData in anketDatas
					.about__anket-row
						.about__anket-key #{anketData.key}
						.about__anket-value #{anketData.val}
		.about__col.about__col--right
			.about__content
				.text.about__text Привет, меня зовут
				h2.secion-title.about__title Aнна Сысоева
				.text.about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				.text.about__info Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
				