include ./socials.pug
include ./nav
footer.footer
	.container.container--footer
		.footer__Left
			.footer__year © 2019
			.footer__col.footer__col--left
				.footer__name Anna Sysoeva
				.footer__text Личный сайт веб-разработчика
		.footer__right
			.footer__nav
				+nav('footer')
			.footer__row
				.footer__col.footer_col--bottom
					.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
					.footer__socials-block
						+socials('footer')
				.footer__col.footer_col--bottom
					.footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
					.footer__cite Martin Golding	