section.hero
	include ./header
	.container.container--hero
		h1.hero__title Анна Сысоева
		a(href="#about").hero__scroll
			span.hero__scroll-text Скролл
			span.hero__scroll-wrap
				+icon('arrow-down', 'hero__scroll-icon')