.parallax
	- var parallax = [{id: 1, img: require(`images/content/promo/promo-bg.jpg`)}, {id: 2, img: ''}, {id: 3, img: ''}, {id: 4, img: ''}, {id: 5, img: ''}, {id: 6, img: ''}, {id: 7, img: ''}, {id: 8, img: ''}, {id: 9, img: ''}]
		each item in parallax
			picture.parallax__picture.promo-wrap__img(class=`promo-wrap__img-${item.id}`)
				source(srcset=require(`images/content/promo/${item.id}.png`) media="(min-width:800px)" )
				img(src=`${item.img}`).parallax__bg
//		+image('promo/1.png', 'promo-wrap__img promo-wrap__img-1' )
//		+image('promo/2.png', 'promo-wrap__img promo-wrap__img-2' )
//		+image('promo/3.png', 'promo-wrap__img promo-wrap__img-3' )
//		+image('promo/4.png', 'promo-wrap__img promo-wrap__img-4' )
//		+image('promo/5.png', 'promo-wrap__img promo-wrap__img-5' )
//		+image('promo/6.png', 'promo-wrap__img promo-wrap__img-6' )
//		+image('promo/7.png', 'promo-wrap__img promo-wrap__img-7' )
//		+image('promo/8.png', 'promo-wrap__img promo-wrap__img-8' )
//		+image('promo/9.png', 'promo-wrap__img promo-wrap__img-9' )