section.rew
	.container
		#rew-block
										
							
		include ./feedback
		
script(type="text/x-template")#rew-main
	.rew__block
		.rew__header
			h2.section-title.section-title--white.rew__title  Что обо мне говорят
			//btns
			btnsComp(@slide="checkBtn")
			
			
		.rew__slider(ref="sliderBlock")
			//slider
			rewSlider(:slidesInfo="slidesInfo" @slide="checkBtn")
			
							
script(type="text/x-template")#rew-btns
	.rew__arrows
		button.rew__arrow.rew__arrow--left(type='button' v-on:click.prevent="$emit('slide', 'prev')") &lt;
		button.rew__arrow.rew__arrow--right(type='button' v-on:click.prevent="$emit('slide', 'next')") &gt;
		
script(type="text/x-template")#rew-slider
	ul.rew__list(ref="moveSlider" )
		li.rew__slide(v-for="slide in slidesInfo")
			rewSlide(:slideInfo="slide")


script(type="text/x-template")#rew-slide
	.rew__slide-item
		.rew__text.text {{slideInfo.text}}
		.rew__row
			.rew__img-wrap
				img( :src="dataUrl+slideInfo.img" alt="").rew__img
				
			.rew__content
				h3.rew__name {{slideInfo.name}}
				h4.rew__position {{slideInfo.position}}