section.skills#siklls

	.container.container--skills
		.skills__guitar-wrap
			+image('skills/guitar.png', 'skills__guitar')
        
		.skills__container
			h2.section-title.skills__title.section-title--dark Чем я могу быть полезна вам
			.skills__text.text.text--dark Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
			#skills-block
            
script(type="text/x-template")#skills-list
	
	ul.skills__list 
		li.skills__item(v-for="dataSkill in dataSkills")
			skill-item(
				:dataSkill="dataSkill"
			)
			
		
script(type="text/x-template")#skills-item
	.skills__row
		h3.skills__item-title {{dataSkill.skillsGroup}}
		ul.skills__item-list
			li.skills__subitem(v-for="skill in dataSkill.skills")
				skill(
					:skill="skill"
				)
				
		
script(type="text/x-template")#skill
	
	.skills__circle
		h4.skills__subtitle {{skill.title}}
		svg(viewBox="0 0 100 100").skill__circle-shape
			circle(cx="50" cy="50" r="40" fill='transparent').skill__circle.skill__circle_under
			circle(cx="50" cy="50" r="40" ref="svg-circle" stroke="url(#gradient)" transform='rotate(180 50 50)' fill='transparent').skill__circle.skill__circle_abov
			defs
				linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
					stop(offset="0%" stop-color="#345ce9")
					stop(offset="100%" stop-color="#4d87ee")