section.works#works
	.container.container--works
		h2.section-title.works__title.section-title--dark Мои работы
		#works-block
		
script(type="text/x-template")#works__row
	.works__row
		//left
		side-left(
			:dataWorks="dataWorks"
			:currentImg="currentslide.photo"
			:currentslide="currentslide"
			@slide="btnSlide"
			
		)
		
		
		
		//right
		side-right(
			:currentInfo="currentslide"
		)


//left
script(type="text/x-template")#works__left
	.works__col.works__col-left
		
		.works__slider
			//image
			big-img(
				:currentImg="currentImg"
			)
				
			.works__control
				//paggination
				paggination(
					:dataPags="dataWorks"
					:currentslide="currentslide"
				)
			//arrows
			arrows( 
				@slide="direction => $emit('slide', direction)"
				:dataPags="dataWorks"
				:currentslide="currentslide"
				)

//right
script(type="text/x-template")#works__right
	
	.works__col.works__col-right
		
		.works__right-num {{currentInfo.id}}
				
		.works__right-row
			//tags
			tags(
				:tags="tagsArray"
			)
					
			.works__right-col
				
				h2.section-title.works__title  {{currentInfo.title}}
				.works__text.text.text--grey  {{currentInfo.desc}}
				a.works__link(:href="currentInfo.link") Посмотреть сайт

//image
script(type="text/x-template")#works__image
	img(:src="dataUrl+currentImg").works__img
	
	
//paggination
script(type="text/x-template")#works__paggination
	ul.works__paggination(ref="pagItem")
		li.works__paggination-item(
			v-for="dataPag in dataPags" 
			:class="{active: dataPag.id  === currentslide.id}"
			
		) 
			
			img(:src="dataUrl+dataPag.photo").works__paggination-img
			
						
//arrows
script(type="text/x-template")#works__arrows
	.works__arrows
		button(type='button' v-on:click.prevent="$emit('slide', 'next')" :class="{active:  currentslide.id < dataPags.length}").works__arrow.works__arrow--next &gt;
		button(type='button' v-on:click.prevent="$emit('slide', 'prev')" :class="{active:  currentslide.id > 1}").works__arrow.works__arrow--prew &lt;
		
//tags
script(type="text/x-template")#works__tags
	ul.works__tags 
	
		li.works__tag(v-for="tag in tags") {{tag}}